* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /* display: flex; */
    scrollbar-width: 12px;
    scrollbar-color: rgb(255, 115, 0) rgb(0, 0, 0);
}

*::selection {
    background-color: #000;
    color: #01dc7a;
}

body,
html {
    background: black;
}

body::-webkit-scrollbar {
    width: 10px
}

body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background: rgb(255, 102, 0);
    border: 2px solid rgb(255, 102, 0);

}

.main {
    height: 100vh;
    width: 100%;
    background: black;
    background-size: cover;
    background-position: center;

}

.main2 {
    height: 100vh;
    width: 100%;
    background: black;
    background-size: cover;
    background-position: center;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 0%;
    margin-left: 10%;
    padding-bottom: 20%;
}

.nav ul .aa .nv {
    list-style-type: none;
    display: inline-block;
    padding: 5px 25px;
    font-size: 15px;
    transition: transform .4s;
}

.nav ul .aa {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    padding: 30px;

}

.nav ul .aa .nv:hover {
    background-color: rgb(227, 64, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(227, 64, 0);
    border-radius: 30px;
    transition: .1s ease-out;
    transform: scale(1.2);
    overflow: auto;
}

.logo {
    position: absolute;
    color: aliceblue;
    font-size: 34px;
    letter-spacing: 1px;
    cursor: pointer;
    left: 4%;
    top: 1%;
    width: 190px;
    height: 5%;
}


span {
    color: rgb(255, 89, 0);
}


.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.content h1 {
    color: white;
    margin: 0px 0px 0px;
    font-size: 75px;
    font-weight: 600;
}

.content h1::selection {
    color: chartreuse;
    background-color: black;
}

#texting {
    color: rgb(255, 89, 0);
    font-size: 35px;
    font-weight: 300;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: -2%;
    margin-left: 5%;
}

#head {
    font-size: 40px;
    font-weight: 400;
    color: rgb(255, 211, 175);
    margin-left: 4%;
    margin-bottom: -1%;
}

#head::selection {
    background-color: maroon;
    color: wheat;
}

#texting::selection {
    color: black;
    background-color: burlywood;
}

.butn {
    color: white;
    font-size: 17px;
    border: 2px solid rgb(193, 97, 0);
    border-radius: 30px;
    background-color: transparent;
    width: 10vw;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-left: 20%;
    margin-top: -8%;
    cursor: pointer;
    transition: .5s ease;
}

.butn:hover {
    background: rgb(244, 138, 0);
    /* border: 2px solid rgb(0, 128, 255); */
    color: rgb(0, 0, 0);
}

.image {
    position: absolute;
    left: 50%;
    top: 18%;
}

.arrowr {
    position: absolute;
    font-size: 600%;
    color: orangered;
    left: -6%;
    top: -31%;
}

.arrowl {
    position: absolute;
    font-size: 600%;
    color: orangered;
    left: 98%;
    top: 30%;
}

.about-txt {
    color: aliceblue;
    margin-top: -37%;
}

.abt-head {
    font-size: 40px;
    font-weight: bolder;
    margin-left: 65%;
    text-decoration: underline;

}

.cntr {
    font-size: 30px;
    font-weight: 400;
    margin-left: 58%;
    color: rgb(255, 72, 0);
}

.prgh {
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 25px;
    color: rgb(255, 239, 193);
    margin-left: 49%;
    margin-right: 9%;
    margin-bottom: 50px;
    text-align: justify;
    text-justify: newspaper;
}

.tet {
    font-size: 30px;
    color: cornsilk;
    font-weight: 500;
    margin-left: 43%;

}

.tet2 {
    font-size: 30px;
    color: cornsilk;
    font-weight: 500;
    margin-left: 42%;
    margin-top: 2%;
}

.tet3 {
    font-size: 30px;
    color: cornsilk;
    font-weight: 500;
    margin-left: 42%;
    margin-top: 2%;
}

.rit {
    background: rebeccapurple;
    border: 2px solid rebeccapurple;
    border-radius: 30px;
    font-size: 23px;
    padding: 6px 17px;
    padding-top: 8px;
    font-weight: 600;
    margin-top: 20%;
    transition: .4s ease-out;
    text-decoration: none;
    color: #000;
    padding-top: 10px;
    cursor: pointer;
    margin-left: 50%;
}

.ski {
    background: #01dc7a;
    border: 2px solid #01dc7a;
    border-radius: 30px;
    font-size: 23px;
    padding: 6px 17px;
    padding-top: 8px;
    font-weight: 600;
    margin-top: 20%;
    transition: .4s ease-out;
    text-decoration: none;
    color: #000;
    padding-top: 10px;
    cursor: pointer;
    margin-left: 50%;

}

.cint {
    background: #d8dc01;
    border: 2px solid #d8dc01;
    border-radius: 30px;
    font-size: 23px;
    padding: 6px 17px;
    padding-top: 8px;
    font-weight: 600;
    margin-top: 20%;
    transition: .4s ease-out;
    text-decoration: none;
    color: #000;
    padding-top: 10px;
    cursor: pointer;
    margin-left: 49%;
}

.ski:hover {
    background: transparent;
    border: 2px solid #01dc7a;
    color: whitesmoke;
    text-decoration: none;
}

.cint:hover {
    background: transparent;
    border: 2px solid rgb(221, 255, 0);
    color: antiquewhite;
    text-decoration: none;
}

.rit:hover {
    background: transparent;
    border: 2px solid rebeccapurple;
    color: white;
    text-decoration: none;
}

.igm {
    position: relative;
    margin-top: 3%;
    width: 35%;
    height: 85vh;
}

#services {
    transition: .6s all ease-out;
    background-color: #000;
}

.seve {
    margin-top: 5%;
    background-color: #000;
}

.sv-head {
    margin-left: 35%;
    position: absolute;
    top: 210%;
    font-weight: 900;
    color: bisque;
    text-decoration: underline;
    text-align: center;
    font-size: 75px;
}

.sre {
    font-size: 33px;
    color: azure;
    position: absolute;
    top: 223%;
    margin-left: 35%;
    background: transparent;

}

.card1 {
    background: rgb(23, 20, 20);
    width: 22vw;
    height: 48vh;
    position: absolute;
    top: 235%;
    left: 5%;
    border-radius: 10px;
    transition: .4s ease-in-out;
    box-shadow: 0 0 15px 8px #545454;
}


.card1:hover {
    box-shadow: 0 0 15px 8px #d0d0d0;
    transform: scale(1.1, 1.1);
    margin-top: -10px;

}

.card1 h2 {
    position: absolute;
    top: 27%;
    background: transparent;
    margin-left: 11%;
    color: rgb(244, 154, 0);
    text-decoration: underline;
    font-weight: 800;
}

#globe {
    background: transparent;
    color: rgb(0, 200, 255);
    padding: 30px 50px;
    font-size: 70px;
    margin-left: 75px;
}

.wbln {
    background: transparent;
    font-size: 18px;
    color: whitesmoke;
    letter-spacing: 1px;
    margin-top: 7%;
    margin-left: 3%;
    font-weight: 400;
}

.wbrd {
    background: transparent;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 7px 12px;
    margin-left: 30%;
    margin-top: -2%;
    border: 3px solid rgb(0, 234, 255);
    font-weight: 600;
    transition: .3s ease-in;

}

.wbrd:hover {
    background: rgb(0, 195, 255);
    border: 3px solid rgb(0, 200, 255);
    color: #000;
    font-weight: 600;
}

.card2 {
    background: rgb(23, 20, 20);
    width: 22vw;
    height: 48vh;
    position: absolute;
    top: 235%;
    left: 38%;
    border-radius: 10px;
    transition: .4s ease-in-out;
    box-shadow: 0 0 15px 8px #545454;
}


.card2:hover {
    box-shadow: 0 0 15px 8px #d0d0d0;
    transform: scale(1.1, 1.1);
    margin-top: -10px;

}

.card2 h2 {
    position: absolute;
    top: 24%;
    background: transparent;
    margin-left: 33%;
    color: rgb(244, 154, 0);
    text-decoration: underline;
    font-weight: 800;
}

#bot {
    background: transparent;
    color: rgb(212, 0, 0);
    padding: 20px 15px;
    font-size: 65px;
    margin-left: 105px;
}


.ailn {
    background: transparent;
    font-size: 18px;
    color: whitesmoke;
    letter-spacing: 1px;
    margin-top: 13%;
    margin-left: 3%;
    font-weight: 400;
}

.aibt {
    background: transparent;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 7px 12px;
    margin-left: 30%;
    margin-top: -2%;
    border: 3px solid rgb(255, 0, 21);
    font-weight: 600;
    transition: .3s ease-in;

}

.aibt:hover {
    background: rgb(255, 0, 21);
    border: 3px solid rgb(255, 0, 21);
    color: #fff;
}

.card3 {
    background: rgb(23, 20, 20);
    width: 22vw;
    height: 48vh;
    position: absolute;
    top: 235%;
    left: 71%;
    border-radius: 10px;
    transition: .4s ease-in-out;
    box-shadow: 0 0 15px 8px #545454;
}


.card3:hover {
    box-shadow: 0 0 15px 8px #d0d0d0;
    transform: scale(1.1, 1.1);
    margin-top: -10px;

}

.card3 h2 {
    position: absolute;
    top: 24%;
    background: transparent;
    margin-left: 14%;
    color: rgb(244, 154, 0);
    text-decoration: underline;
    font-weight: 800;
}

#db {
    background: transparent;
    color: rgb(0, 223, 0);
    padding: 20px 15px;
    font-size: 65px;
    margin-left: 105px;
}

.dbln {
    background: transparent;
    font-size: 18px;
    color: whitesmoke;
    letter-spacing: 1px;
    margin-top: 13%;
    margin-left: 3%;
    font-weight: 400;
}

.dbbt {
    background: transparent;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 7px 12px;
    margin-left: 30%;
    margin-top: -2%;
    border: 3px solid rgb(0, 255, 0);
    font-weight: 600;
    transition: .3s ease-in;

}

.dbbt:hover {
    background: rgb(46, 231, 0);
    border: 3px solid rgb(45, 227, 0);
    font-weight: 600;
    color: #000;
}

.lst {
    color: aliceblue;
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    position: absolute;
    top: 290%;
    margin-left: 3%;
    /* margin-bottom: 30%; */
}

.rthd {
    color: rgb(255, 204, 110);
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    margin-top: 60%;
}

.ritln {
    text-align: center;
    font-size: 30px;
    color: bisque;

}

.title1 {
    background: transparent;
    font: 300;
    font-size: 20px;
    position: relative;
    top: 4%;
    left: 15%;
    text-decoration: underline;
}

.crd1 {
    width: 16%;
    height: 50vh;
    border-radius: 20px;
    background-color: #0a0b1f;
    transition: .5s ease-out;
    color: white;
    position: absolute;
    top: 342%;
    left: 9%;
}

.crd1:not(:first-child) {
    margin-left: -50px;
}

.crd1:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    box-shadow: 5px 7px 17px 7px rgb(61, 61, 61);
}

.crd1:hover .rtCards {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.bar {
    width: 150px;
    height: 5px;
    background-color: #282828;
    margin-left: 7%;
    margin-top: 13%;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.fillbar {
    margin-top: -4%;
    margin-left: 0%;
    z-index: 3;
    width: 0px;
    height: 5px;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, #EB4174 20%, #fec8c8 90%);
    transition: 0.6s ease-out;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    /* background:linear-gradient(50deg, #FFC2C2 50%, #FFD7A8 100%); */
    background: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    position: absolute;
    top: 27%;
    left: 3%;
    z-index: 1;
    font-weight: 400;
    font-family: monospace;
}

.crd1:hover .fillbar {
    width: 127px;
    transition: 0.4s ease-out;
}

.crd1:hover .tooltiptext {
    visibility: visible;
    text-decoration: wavy;
}

.circle {
    background: transparent;
    position: absolute;
    top: 150px;
    left: calc(50% - 70px);
}

.stroke {
    visibility: hidden;
    background: transparent;
    stroke: white;
    stroke-dasharray: 385;
    stroke-dashoffset: 380;
    transition: 0.6s ease-out;
}

svg {
    background: transparent;
    fill: transparent;
    stroke-width: 2px;
    width: 100%;
}

.crd1:hover .stroke {
    visibility: visible;
    background: transparent;
    stroke-dashoffset: 90;
    transition: 0.6s ease-out;
}

.ster {
    visibility: hidden;
    font-size: 19px;
    color: wheat;
    position: absolute;
    top: 19%;
    left: 7%;
    transition: .3s ease-in;
}

.crd1:hover .ster {
    visibility: visible;
    transition: .4s ease-out;
}

.nt {
    visibility: hidden;
    position: absolute;
    top: 112%;
    left: -13%;
}

.rtbtn {
    visibility: hidden;
    position: absolute;
    top: 76%;
    left: 0%;
    text-align: center;
    font-size: 18px;
    background: transparent;
    border: 2px solid crimson;
    font-weight: 400;
    color: white;
    padding: 9px 12px;
    border-radius: 30px;
    transition: .3s all ease-in-out;
}

.crd1:hover .rtbtn {
    visibility: visible;

}

.crd1:hover .nt {
    visibility: visible;
}

.title2 {
    background: transparent;
    font: 300;
    font-size: 20px;
    position: relative;
    top: 4%;
    left: 15%;
    text-decoration: underline;
}

.crd2 {
    width: 16%;
    height: 50vh;
    border-radius: 20px;
    background-color: #0a0b1f;
    transition: .5s ease-out;
    color: white;
    position: absolute;
    top: 342%;
    left: 40%;
}

.crd2:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    box-shadow: 5px 7px 17px 7px rgb(61, 61, 61);
}

.crd2:hover .rtCards {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.bar2 {
    width: 150px;
    height: 5px;
    background-color: #282828;
    margin-left: 7%;
    margin-top: 13%;
}

.emptybar2 {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.fillbar2 {
    position: relative;
    margin-top: -4%;
    margin-left: 0%;
    z-index: 3;
    width: 0px;
    height: 5px;
    background: #8600d9;
    background: linear-gradient(100deg, #3378FF 50%, #9442FE 90%);
    transition: 0.6s ease-out;
}

.tooltiptext2 {
    visibility: hidden;
    width: 120px;
    /* background:linear-gradient(50deg, #FFC2C2 50%, #FFD7A8 100%); */
    background: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    position: absolute;
    top: 27%;
    left: 1%;
    z-index: 1;
    font-weight: 400;
    font-family: monospace;
}

.crd2:hover .fillbar2 {
    width: 150px;
    transition: 0.4s ease-out;
}

.crd2:hover .tooltiptext2 {
    visibility: visible;
    text-decoration: wavy;
}

.circle2 {
    background: transparent;
    position: absolute;
    top: 150px;
    left: calc(50% - 70px);
}

.stroke2 {
    visibility: hidden;
    background: transparent;
    stroke: white;
    stroke-dasharray: 385;
    stroke-dashoffset: 380;
    transition: 0.6s ease-out;
}

.crd2:hover .stroke2 {
    visibility: visible;
    background: transparent;
    stroke-dashoffset: 90;
    transition: 0.6s ease-out;
}

.ster2 {
    visibility: hidden;
    font-size: 19px;
    color: wheat;
    position: absolute;
    top: 19%;
    left: 7%;
    transition: .3s ease-in;
}

.crd2:hover .ster2 {
    visibility: visible;
    transition: .4s ease-out;
}

.title3 {
    background: transparent;
    font: 300;
    font-size: 20px;
    position: relative;
    top: 4%;
    left: 15%;
    text-decoration: underline;
}

.crd3 {
    width: 16%;
    height: 50vh;
    border-radius: 20px;
    background-color: #0a0b1f;
    transition: .5s ease-out;
    color: white;
    position: absolute;
    top: 342%;
    left: 70%;
}

.crd3:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    box-shadow: 5px 7px 17px 7px rgb(61, 61, 61);
}

.crd3:hover .rtCards {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.bar3 {
    width: 150px;
    height: 5px;
    background-color: #282828;
    margin-left: 7%;
    margin-top: 13%;
}

.emptybar3 {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.fillbar3 {
    position: relative;
    margin-top: -4%;
    margin-left: 0%;
    z-index: 3;
    width: 0px;
    height: 5px;
    background: rgb(0, 217, 65);
    background: linear-gradient(100deg, #1AA37A 50%, #9DFFB3 90%);
    transition: 0.6s ease-out;
}

.tooltiptext3 {
    visibility: hidden;
    width: 120px;
    /* background:linear-gradient(50deg, #FFC2C2 50%, #FFD7A8 100%); */
    background: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    position: absolute;
    top: 27%;
    left: 1%;
    z-index: 1;
    font-weight: 400;
    font-family: monospace;
}

.crd3:hover .fillbar3 {
    width: 58px;
    transition: 0.4s ease-out;
}

.crd3:hover .tooltiptext3 {
    visibility: visible;
    text-decoration: wavy;
}

.circle3 {
    background: transparent;
    position: absolute;
    top: 150px;
    left: calc(50% - 70px);
}

.stroke3 {
    visibility: hidden;
    background: transparent;
    stroke: white;
    stroke-dasharray: 385;
    stroke-dashoffset: 380;
    transition: 0.6s ease-out;
}

.crd3:hover .stroke3 {
    visibility: visible;
    background: transparent;
    stroke-dashoffset: 90;
    transition: 0.6s ease-out;
}

.ster3 {
    visibility: hidden;
    font-size: 19px;
    color: wheat;
    position: absolute;
    top: 19%;
    left: 7%;
    transition: .3s ease-in;
}

.crd3:hover .ster3 {
    visibility: visible;
    transition: .4s ease-out;
}

.panda {
    visibility: hidden;
    position: absolute;
    top: 77%;
    left: 3%;
    text-align: center;
    font-size: 18px;
    background: transparent;
    border: 2px solid crimson;
    font-weight: 400;
    color: white;
    padding: 9px 12px;
    border-radius: 30px;
    transition: .3s all ease-in-out;
}

.basu {
    visibility: hidden;
    position: absolute;
    top: 112%;
    left: -13%;
}

.shona {
    visibility: hidden;
    position: absolute;
    top: 77%;
    left: 3%;
    text-align: center;
    font-size: 18px;
    background: transparent;
    border: 2px solid crimson;
    font-weight: 400;
    color: white;
    padding: 9px 12px;
    border-radius: 30px;
    transition: .3s all ease-in;
}

.jaan {
    visibility: hidden;
    position: absolute;
    top: 112%;
    left: -13%;
}

.rtbtn:hover {
    border: 2px solid lightseagreen;
}

.panda:hover {
    border: 2px solid lightseagreen;
}

.shona:hover {
    border: 2px solid lightseagreen;
}

.crd2:hover .panda {
    visibility: visible;
}

.crd2:hover .basu {
    visibility: visible;
}

.crd3:hover .shona {
    visibility: visible;
}

.crd3:hover .jaan {
    visibility: visible;
}

.invite {
    background-color: #2e3033;
    width: 100%;
    height: 50%;
}

.invhd {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    color: white;
    font-weight: 900;
    margin-top: 45%;
    position: relative;
    top: 2.4%;
    letter-spacing: 2px;
}

.invln {
    font-size: 20px;
    color: wheat;
    font-weight: 600;
    margin-top: 1%;
    margin-left: 2%;
    text-align: center;
    margin-right: 2%;

}

.invbtn {
    text-align: center;
    font-size: 21px;
    font-size: 600;
    color: whitesmoke;
    border: 2px solid #ffffff;
    background: transparent;
    position: relative;
    z-index: 2;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.lsy {
    color: wheat;
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 1%;
}

.invbtn {
    position: relative;
    right: 20px;
    left: 0;
    bottom: 20px;
    border: none;
    width: 130px;
    height: 40px;
    line-height: 40px;
    -webkit-perspective: 230px;
    perspective: 230px;
}

.invbtn span {
    color: white;
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    border: 3px solid rgb(255, 123, 0);
    left: 540%;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.invbtn span:nth-child(1) {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.invbtn span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.invbtn:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.invbtn:hover span:nth-child(2) {

    color: #e0e5ec;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-81deg);
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(39, 6, 6);
    margin-top: -3%;

}

.fthd {
    text-align: center;
    letter-spacing: 2px;
    color: wheat;

}

.ftlines {
    text-align: center;
    color: rgb(189, 135, 255);
    letter-spacing: 3px;
    font-weight: 300;
    margin-top: -1%;
}

.media {
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 37px;
}

.twtr {
    background: transparent;
    font-size: 36px;
    color: rgb(0, 119, 255);
    border-radius: 50px;
    width: 2%;
    padding: 12px 30px;
    display: flex;
    justify-content: center;
    margin-left: 39%;
    transition: .4s all ease-in-out;
    border: 0px transparent;
}

.twtr:hover {
    text-decoration: none;
    background-color: rgb(0, 195, 255);
    color: black;
    transform: scale(1.3);
}

.insta {
    background: transparent;
    font-size: 36px;
    color: rgb(255, 0, 98);
    border-radius: 50px;
    width: 2%;
    padding: 12px 30px;
    display: flex;
    justify-content: center;
    margin-left: 48%;
    margin-top: -4%;
    transition: .4s all ease-in-out;
    border: 0px transparent;

}

.insta:hover {
    text-decoration: none;
    background-color: rgb(255, 0, 89);
    color: black;
    transform: scale(1.3);
}

.telegm {
    background: transparent;
    font-size: 36px;
    color: rgb(0, 42, 255);
    border-radius: 50px;
    width: 2%;
    padding: 12px 30px;
    display: flex;
    justify-content: center;
    margin-left: 57%;
    margin-top: -4%;
    transition: .4s all ease-in-out;
    border: 0px transparent;

}

.telegm:hover {
    text-decoration: none;
    background-color: rgb(0, 60, 255);
    color: black;
    transform: scale(1.3);
}

.more {
    text-align: center;
    color: #fec8c8;
    text-decoration: underline;

}

.lebtn {
    text-decoration: 1px rgb(248, 53, 53);
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    border: 3px solid deepskyblue;
    border-radius: 30px;
    width: 12%;
    padding: 14px 21px;
    margin-left: 44%;
    transition: .5s all ease-out;

}

.lebtn:hover {
    border: 3px solid #01dc8f;
    color: #000000;
    background-color: #01d1dc;
    transform: scale(1.2);
    /* margin-top: -0.5%; */
    box-shadow: 0px 0px 18px 2px gainsboro;
}

.lstln {
    text-align: center;
    font-size: 18px;
    color: teal;
    text-decoration: underline;
}

/* -- MAIN SECTION MEDIA QUERY */
@media screen and (max-width:1200px) {
    .arrowr {
        top: -11%;
        font-size: 55px;
        left: 0;
    }

    .arrowl {
        top: 29%;
        font-size: 55px;
        left: 90%
    }

    .content {
        font-size: 14px;
        padding: 28px;
        margin-left: -3%;
    }

    .content h1 {
        font-size: 38px;
    }

    #head {
        font-size: 25px;
    }

    #texting {
        font-size: 23px;
    }

    .image {
        width: 55%;
        left: 42%;
    }

    .butn {
        width: 55%;
        margin-top: -18%;
        margin-left: 8%;
        font-size: 15px;
    }

    .logo {
        margin-left: -1%;
        margin-top: 4%;
    }

    .nav {
        float: left;
        margin-left: 23%;
    }
}

/* --ABOUT SECTION MEDIA QUERY */
/* @media screen and (max-width:800px) {
    .about-txt {
     text-align: center;
     margin-top: -75%;
    }
}

@media screen and (max-width:670px) {
    .about-txt {
     text-align: center;
     margin-top: -40%;
    }
} */

@media screen and (max-width:1240px) {
    .about-txt {
        text-align: center;
        margin-top: -52%;
    }

    .prgh {
        margin-left: 49%;
        font-size: 15px;
    }

    .abt-head {
        margin-left: 40%;
        font-size: 22px;
    }

    .cntr {
        font-size: 20px;
        margin-left: 40%;
    }

    .tet {
        font-size: 25px;
    }

    .tet3 {
        font-size: 25px;
    }
}

/* -- Services Section Media Query */

@media screen and (max-width:1270px) {
    .sv-head {
        font-size: 40px;
    }
    .sre {
        font-size: 30px;
        top: 219%;
        left: -8%;
    }
    #globe {
        font-size: 42px;
        margin-left: 17%;
    }
    .card1 {
        width: 25%;
        height: 42%;
    }
    .card2 {
        width: 25%;
        height: 42%;
    }
    .card3 {
        width: 25%;
        height: 42%;
    }
    .card1 h2 {
        font-size: 18px;
        top: 19%;
        left: 3.4%;
    }
    .wbln {
        font-size: 14px;
    }
    .wbrd {
        font-size: 13px;
        margin-left: 25%;
        margin-top: 2%;
    }


    #bot {
        font-size: 42px;
        margin-left: 30%;
    }
    .card2 h2 {
        font-size: 17px;
        top: 16%;
        left: 3.4%;
    }
    .ailn {
        font-size: 14px;
    }
    .aibt {
        font-size: 13px;
        margin-left: 25%;
        margin-top: 4%;
    }

    #db {
        font-size: 42px;
        margin-left: 30%;
    }
    .card3 h2 {
        font-size: 17px;
        top: 16%;
        left: 3.4%;
    }
    .dbln {
        font-size: 14px;
    }
    .dbbt {
        font-size: 13px;
        margin-left: 25%;
        margin-top: 1.8%;
    }
    .lst {
        font-size: 21px;
        margin-top: -4%;
    }
}

/* --Rating Media Query */

@media screen and (max-width:1100px) {
     .rthd {
       font-size: 32px;
       margin-top: 100%;
    }
    .ritln {
        font-size: 27px;
    } 

    .rating {
        margin-top: 0%;
        margin-bottom: 90%;
    }
    .crd1 {
        margin-top: -4%;
        width: 27%;
        margin-left: -5%;
    }
    .circle {
        margin-top: -17%;
    }
    .tooltiptext {
        top: 28%;
    }
    .crd2 {
        margin-top: -4%;
        width: 27%;
        margin-left: -3%;
    }
    .circle2 {
        margin-top: -17%;
    }
    .tooltiptext2 {
        top: 28%;
    }
    .crd3 {
        margin-top: -4%;
        width: 27%;
        margin-right: 2%;
    }
    .circle3 {
        margin-top: -17%;
    }
    .tooltiptext3 {
        top: 28%;
    }
}

@media screen and (max-width:1200px) {
    .invite {
        height: 36%;
    }
    .invhd {
        font-size: 36px
    }
    .invln {
        font-size:18px ;
    }
    .lsy {
        margin-top: -3%;
    }

    .invbtn {
        left: -50%;
    }
}

@media screen and (max-width:1230px) {
    .insta {
       margin-top: -6%;
    }
    .telegm {
        margin-top: -7%;
    }
    .lebtn {
        font-size: 18px;
        width: 18%;
        margin-left: 40%;
    }
    .more h1 {
        font-size: 29px;
    }
}

@media screen and (max-width:700px) {
    .invbtn {
        margin-left: -30%;
    }
    .lebtn {
        margin-left: -170%;
    }
}