body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 117, 117);
    background-attachment: scroll;
}

  .wrapper-2{
    position: fixed;
    top: 10%;
    left: 7%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }
  a{
    display: inline-block;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
  }
  
  a:hover{
    letter-spacing: 12px;
  }
  
  @media only screen and (max-width: 550px) {
    .wrapper-2 {
       left: 47%;
       top: 6%;
       background-attachment: local;
       position: fixed;
    }
  }

#head {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    left: 50%;
    top: 6%;
    color: antiquewhite;
}
#h1 {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  
}
.lineUp {
    animation: 6s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.hm {
color: antiquewhite;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;   
  font-family: sans-serif;
  background-color: #43005049; 
}

.container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container .card {
  position: relative;
  border-radius: 10px;
}

.container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
}

.container .card:nth-child(1) .icon {
  background: #fc6f6f;
}

.container .card:nth-child(2) .icon {
  background: #6facd3;
}

.container .card:nth-child(3) .icon {
  background: #eef774;
}


.container .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #fff4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0px);
}

.container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i{
  max-width: 100px;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(204, 204, 204, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

.container a {
  text-decoration: none;
  color: #414141;
}

/*   */
*, *::after, *::before {
  box-sizing: inherit;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}


/* body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
} */


.python {
  background-color: #f88400;
position: absolute;
display: flex;
align-items: center;
justify-content:center;
width: 300px;
height: 300px;
 left: -4%;
top: 100%; 
margin-bottom: 30%;
border-radius: 10px;
box-shadow: 0 12px 18px rgb(204, 204, 204), 0 11px 18px rgb(204, 204, 204);
transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
overflow: hidden;
background-attachment: scroll;
}
.python:hover {
  box-shadow: 0 28px 32px rgba(201, 201, 201, 0.938), 0 28px 32px rgb(233, 233, 233);
  
}
.python:hover img {
  transform: scale(1.10);
}
.python:hover figcaption {
  bottom: 0;
}

.python img {
  height: 60%;
  width: 60%;
  top: 0%;
  transition: 0.25s;
}
.python figcaption {
  position: absolute;
bottom: -78%;
left: 0;
width: 100%;
margin: 0;
padding: 30px;
  padding-top: 30px;
background-color: rgba(0, 0, 0, 0.85);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.932);
color: white;
line-height: normal;
transition: 0.25s;
padding-top: 4%;
}
.python figcaption h3 {
  margin: 0 0 20px;
  padding-top: 20px;
}
.python figcaption p {
  font-size: 14px;
  line-height: 1.75;
}

.php {
  background-color: #be00f8;
position: absolute;
display: flex;
align-items: center;
justify-content:center;
width: 300px;
height: 300px;
 left: 31%;
top: 100%; 
margin-bottom: 30%;
border-radius: 10px;
box-shadow: 0 12px 18px rgb(204, 204, 204), 0 11px 18px rgb(204, 204, 204);
transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
overflow: hidden;
background-attachment: scroll;
}
.php:hover {
  box-shadow: 0 28px 32px rgba(201, 201, 201, 0.938), 0 28px 32px rgb(233, 233, 233);
  
}
.php:hover img {
  transform: scale(1.10);
}
.php:hover figcaption {
  bottom: 0;
}

.php img {
  height: 60%;
  width: 60%;
  top: 0%;
  transition: 0.25s;
}
.php figcaption {
  position: absolute;
bottom: -78%;
left: 0;
width: 100%;
margin: 0;
padding: 30px;
  padding-top: 30px;
background-color: rgba(0, 0, 0, 0.85);
box-shadow: 0 0 20px rgb(0, 0, 0);
color: white;
line-height: normal;
transition: 0.25s;
padding-top: 4%;
}
.php figcaption h3 {
  margin: 0 0 20px;
  padding-top: 20px;
}
.php figcaption p {
  font-size: 14px;
  line-height: 1.75;
}

.json {
  background-color: #454446;
position: absolute;
display: flex;
align-items: center;
justify-content:center;
width: 300px;
height: 300px;
 left: 66%;
top: 100%; 
margin-bottom: 30%;
border-radius: 10px;
box-shadow: 0 12px 18px rgb(204, 204, 204), 0 11px 18px rgb(204, 204, 204);
transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
overflow: hidden;
background-attachment: scroll;
}
.json:hover {
  box-shadow: 0 28px 32px rgba(201, 201, 201, 0.938), 0 28px 32px rgb(233, 233, 233);
  
}
.json:hover img {
  transform: scale(1.10);
}
.json:hover figcaption {
  bottom: 0;
}

.json img {
  height: 60%;
  width: 60%;
  top: 0%;
  transition: 0.25s;
}
.json figcaption {
  position: absolute;
bottom: -78%;
left: 0;
width: 100%;
margin: 0;
padding: 30px;
  padding-top: 30px;
background-color: rgba(0, 0, 0, 0.85);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
color: white;
line-height: normal;
transition: 0.25s;
padding-top: 4%;
}
.json figcaption h3 {
  margin: 0 0 20px;
  padding-top: 20px;
}
.json figcaption p {
  font-size: 14px;
  line-height: 1.75;
}

.lua {
    background-color: #454446;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 300px;
  height: 300px;
   left: -4%;
  top: 155%; 
  margin-bottom: 30%;
  border-radius: 10px;
  box-shadow: 0 12px 18px rgb(204, 204, 204), 0 11px 18px rgb(204, 204, 204);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  background-attachment: scroll;
  }
  .lua:hover {
    box-shadow: 0 28px 32px rgba(201, 201, 201, 0.938), 0 28px 32px rgb(233, 233, 233);
    
  }
  .lua:hover img {
    transform: scale(1.10);
  }
  .lua:hover figcaption {
    bottom: 0;
  }
  
  .lua img {
    height: 60%;
    width: 60%;
    top: 0%;
    transition: 0.25s;
  }
  .lua figcaption {
    position: absolute;
  bottom: -78%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px;
    padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: normal;
  transition: 0.25s;
  padding-top: 4%;
  }
  .lua figcaption h3 {
    margin: 0 0 20px;
    padding-top: 20px;
  }
  .lua figcaption p {
    font-size: 14px;
    line-height: 1.75;
  }
  

@media only screen and (max-width: 600px){
     .container {
      margin-top: 50px;
      font-size: small;
      display: inline;
      margin-left: 6%;
     }
    }

    @media only screen and (max-width: 600px){
      .python {
        margin-top: 33px;
        font-size: small;
        margin-left: 6%;
        overflow: hidden;
      }
     }
    
     @media only screen and (max-width: 600px){
      .php {
        margin-top: 369px;
        font-size: small;
        margin-left: -29%;
        overflow: hidden;
      }
     }
     @media only screen and (max-width: 600px){
      .json {
        margin-top: 712px;
        font-size: small;
        margin-left: -64%;
        overflow: hidden; 
    
      }
     }
     


#det {
  color: #b8b8b8;
  font-size: 15px;
  font-family: monospace;
  text-align: left;
  justify-content: center;
}
#op {
  text-align: left;
  justify-content: center;
  color: #eef774;
  font-size: 30px;
}

#inde {
  color: bisque;
  font-size: 20px;
  text-align: center;


}
@media only screen and (max-width: 600px) {
.lua {
    margin-top: 270px;
    font-size: small;
    margin-left: 6%;
    overflow: hidden;
}
}
 @media only screen and (max-width: 600px){
  #inde, .inde {
    text-align: left;
    display: inline-block;
    margin-right: 9%;
  }
 }