
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  margin: 4px 4px;
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: 'Raleway', sans-serif;
  background-color: #050801;
  background-repeat: no-repeat;
  background-size: 10000px;
  font-weight: bold;
}

a {
  position: absolute;
  display: inline-block;
  top: 65%;
  left: 41%;
  padding: 12px 20px;
  margin: 18px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}
a:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #00effc, 0 0 50px #03e9f4, 0 0 200px #f40303;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1) {
  filter: hue-rotate(270deg);
}
a:nth-child(2) {
  filter: hue-rotate(110deg);
}
a span {
  position: absolute;
  display: block;
}
a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #68f132);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  -webkit-box-reflect: below;
  background: linear-gradient(360deg, transparent, #08aa1e);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
 }

 @keyframes spin {
   0% { transform: rotate(0deg)}
   50% {transform: rotate(180deg) scale(1.2)}
   100% {transform: rotate(360deg)}
 }


@media only screen and (max-width: 600px){
  a {
    left: 20.5%;
  }
}
 .video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text {
background: rgba(0,0,0,0.5);
position: absolute;
top: 10px;
left: 0;
right: 0;
width: 95%;
max-width: 45em;
margin: auto auto 1em;
box-sizing: border-box;
padding: 2em;
line-height: 1.5;
text-align: center;
text-shadow: rgba(0, 0, 0, 0.637);

}
h1 {
  font-size: 14pt;
  font-weight:bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  color: antiquewhite;
  font-size: 12pt;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}